DB_USER=postgres
DB_NAME=navas-shop
DB_PASSWORD=123456

# openssl rand -base64 32
AUTH_SECRET='RMp56Hz6fkxaJZHxI9GmxTlTMqnaFbtq8aEXz9m/w8U='
DATABASE_URL="postgresql://postgres:123456@localhost:5432/navas-shop?schema=public"

#Paypal
#https://developer.paypal.com/dashboard/
#sb-p4t8m29941001@personal.example.com
# PASS: 987654321
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AbuNqkhwWPugvXuzMDsLUcfNLlqGeJG16cKLJNhYI-Rlx9kxvgylDQ-OUfTbeC_llJJAHotQG8_uyKrj
PAYPAL_SECRET=EOtMHH3wIqnDoIdpwN2j4CfFwiTcOsEPhP0It6jiMO6m6wPm2HsqYLq1n0vWSpddGoD4SZT2Pw1HZrDT



# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

